@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #1d1d1d;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #ff0000;
}

header {
    background-color: #1d1d1d;
    border-bottom: 3px solid #ff0000;
    padding: 20px;
}

header h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav a {
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
}

nav a:hover {
    color: #ff0000;
}

nav .logo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav .menu {
    border-radius: 50px;
    background-color: rgba(40, 35, 35, 0.751);
    width: 30px 15px;
    height: 30px;
    display: flex;
    align-items: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 10px;
    width: calc(50% - 20px);
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
}
  
section:hover {
    transform: scale(1.05);
}
  
section h2 {
    border-bottom: 3px solid #ff0000;
    border-bottom-left-radius: 9px;
    font-size: 24px;
    font-weight: 700;
    text-indent: 4px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #fff;
}
  
section p {
    line-height: 1.5;
    margin-bottom: 20px;
    color: #fff;
}

footer {
    background-color: #1d1d1d;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
    color: #fff;
}
